body {
    background-color: #EAF6F6;
}
hr {
    border-width: 3px;
    border-style: none;
    border-top-style: dotted;
    color: darkgray;
    height: 2px;
    width: 30%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}